# ===========================
# .NET C# Backend
# ===========================

# Build folders
bin/
obj/
frontend/node_modules/
.env

# SQLite database
currency_watchlist.db
currency_watchlist.db-shm
currency_watchlist.db-wal

# User specific
.vs/
.vscode/




